{% extends "layout.twig" %}
{% set active_page = "admin-permissions" %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            <h1>Admin</h1>
            <h2>Permissions</h2>
        </div>
    </div>

    {{ flashMessages()|raw }}

    {% for division in divisions %}
        <form class="page-admin-permissions card bg-dark text-light mb-3 border-light"
              action="/admin/permissions/save"
              method="post" id="division{{ division.id }}">
            {{ data.csrfFormInput|raw }}
            <input type="hidden" name="id" value="{{ division.id }}">
            <div class="card-body">
                <h4 class="card-title">Division: {{ division.name }}</h4>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Groups</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for role in roles %}
                            <tr class="">
                                <td>{{ role }}</td>
                                <td>
                                    <input type="hidden" name="groups[{{ role }}]" value="">
                                    <!--suppress HtmlFormInputWithoutLabel -->
                                    <select multiple name="groups[{{ role }}][]" size="5"
                                            class="form-select">
                                        {% for group in groups %}
                                            {% set selected = '' %}
                                            {% if division.hasPermission(role, group.id) %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option value="{{ group.id }}" {{ selected }}>{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="">
                            <th></th>
                            <th><button type="submit" class="btn btn-primary">Save</button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    {% endfor %}
{% endblock %}
