{% extends "layout.twig" %}
{% set active_page = "admin-permissions" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Admin</h1>
            <h2>Permissions</h2>
            {{ flashMessages()|raw }}
        </div>
    </div>

    {% for division in divisions %}
        <form class="card bg-dark mb-3" 
              action="/admin/permissions/save"
              method="post" id="division{{ division.id }}">
            <input type="hidden" name="id" value="{{ division.id }}">
            <div class="card-body">
                <h4 class="card-title">Division: {{ division.name }}</h4>
                <table class="table table-dark">
                    <thead>
                        <tr class="">
                            <th>Role</th>
                            <th colspan="2">Groups</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for role in roles %}
                            <tr class="">
                                <td>{{ role }}</td>
                                <td>
                                    <ul>
                                        {% for permission in division.permissions(role) %}
                                            <li>{{ permission.externalGroup.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="form-group">
                                    <input type="hidden" name="groups[{{ role }}]" value="">
                                    <label for="{{ role }}D{{ division.id }}Groups" class="text-white-50">
                                        Select groups
                                    </label>
                                    <br>
                                    <select multiple name="groups[{{ role }}][]"
                                            id="{{ role }}D{{ division.id }}Groups"
                                            class="form-control form-control-sm selectpicker"
                                            data-width="300px" data-live-search="true">
                                        {% for group in groups %}
                                            {% set selected = '' %}
                                            {% if division.hasPermission(role, group.id) %}
                                                {% set selected = 'selected' %}
                                            {% endif %}
                                            <option value="{{ group.id }}" {{ selected }}>
                                                {{ group.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="">
                            <th colspan="2"></th>
                            <th><button type="submit" class="btn btn-primary">Save</button></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    {% endfor %}
{% endblock %}
