{% extends "layout.twig" %}
{% set active_page = "all-requests" %}

{% block content %}
    <h1>All Requests</h1>
    <form class="mb-3 p-3 border border-light" method="get">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="inputDivision" class="form-label">Division</label>
                    <select class="form-control" id="inputDivision" name="division">
                        <option value="0" {% if inputDivision == 0 %}selected{% endif %}>all</option>
                        {% if hasRole('global-admin') %}
                            <option value="-1" {% if inputDivision == -1 %}selected{% endif %}>
                                (without division)
                            </option>
                        {% endif %}
                        {% for division in divisions %}
                            <option {% if inputDivision == division.id %}selected{% endif %} value="{{ division.id }}">
                                {{ division.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="inputStatus" class="form-label">Status</label>
                    <select class="form-control" id="inputStatus" name="status">
                        <option value="" {% if inputStatus == '' %}selected{% endif %}>all</option>
                        {% for status in [
                            constant('EveSrp\\Type::INCOMPLETE'),
                            constant('EveSrp\\Type::EVALUATING'),
                            constant('EveSrp\\Type::APPROVED'),
                            constant('EveSrp\\Type::REJECTED'),
                            constant('EveSrp\\Type::PAID'),
                        ] %}
                            <option {% if inputStatus == status %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" name="submit" class="btn btn-primary">Show</button>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="inputUser" class="form-label">User</label>
                    <input type="text" name="user" class="form-control" id="inputUser" value="{{ inputUser }}"
                           placeholder="Full main character name">
                </div>
                <div class="mb-3">
                    <label for="inputPilot" class="form-label">Pilot</label>
                    <input type="text" name="pilot" class="form-control" id="inputPilot" value="{{ inputPilot }}"
                           placeholder="Full pilot name">
                </div>
            </div>
        </div>
    </form>
    {% include 'components/request-list.twig' with {
        page: 'process',
        sort: 'down',
        requests: requests,
        pagerCurrentPage: pagerCurrentPage,
        pagerTotalPages: pagerTotalPages,
        pagerLink: pagerLink,
    } only %}
{% endblock %}
