
<table class="table table-dark table-sm mb-2">
    <tr>
        <th>Submitter</th>
        <td>
            {% if request.user.name is not empty %}
                <a title="All Requests from user" href="/all-requests?user={{ request.user.name|url_encode }}&submit">
                    {{ request.user.name }}</a>
            {% endif %}
            <span class="text-muted">#{{ request.user.id }}</span>
        </td>
    </tr>
    <tr>
        <th>Submitted Time</th>
        <td>{{ request.created|date('Y-m-d H:i e') }}</td>
    </tr>
    <tr>
        <th>Pilot</th>
        <td>
            {% if request.status == constant('EveSrp\\Type::APPROVED') %}
                {% include 'components/clipboard-copy.twig' with {
                    display: request.character.name,
                    copy: request.character.name,
                } only %}
                {% include 'components/link-evewho.twig' with { path: 'character/' ~ request.character.id } only %},
            {% else %}
                {% include 'components/link-evewho.twig' with {
                    path: 'character/' ~ request.character.id,
                    name: request.character.name,
                } only %},
            {% endif %}

            {% if request.corporationId %}
                {% include 'components/link-evewho.twig' with {
                    path: 'corporation/' ~ request.corporationId,
                    name: request.corporationName,
                } only %},
            {% else %}
                {{ request.corporationName }},
            {% endif %}

            {% if request.allianceId %}
                {% include 'components/link-evewho.twig' with {
                    path: 'alliance/' ~ request.allianceId,
                    name: request.allianceName,
                } only %}
            {% elseif request.allianceName %}
                {{ request.allianceName }}
            {% else %}
                no alliance
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Kill Time</th>
        <td>
            {% include 'components/link-nakamura.twig' with { timestamp: request.killTime } only %}
        </td>
    </tr>
    <tr>
        <th>System</th>
        <td>
            {% include 'components/link-dotlan.twig' with {
                path: 'system/' ~ request.solarSystem,
                name: request.solarSystem
            } only %}
        </td>
    </tr>
    <tr>
        <th>External URLs</th>
        <td>
            {% if hasKillboardUrl() %}
                <a href="{{ getKillboardUrl(request) }}" class="srp-external-link"
                   target="_blank" rel="noopener noreferrer">zKillboard</a>,
            {% endif %}
            {% if esiUrl(request) %}
                <a href="{{ esiUrl(request) }}" class="srp-external-link"
                   target="_blank" rel="noopener noreferrer">ESI</a>
            {% endif %}
        </td>
    </tr>
</table>

<h5 class="mb-1 mt-3">Details</h5>
<div class="srp-bg-dark-2 small p-1">{{ request.details|nl2br }}</div>

<div class="row mt-3">
    <div class="col">
        {% include 'pages/request--data--edit.twig' with { request: request } only %}
    </div>
    <div class="col">
        {% include 'pages/request--data--modifier.twig' with { request: request } only %}
    </div>
</div>

<h5 class="mt-2">Changes</h5>
<table class="table table-dark table-sm table-borderless small data-changes">
    {% for action in request.actions %}
        <tr class="{{ action.note ? 'data' : 'data border-bottom' }}">
            <td>{{ action.created|date('Y-m-d H:i e') }}</td>
            <td>{{ action.category|capitalize }}</td>
            <td>
                <span title="#{{ action.user.id }}">{{ action.user.name }}</span>
                {% if action.user.name is empty %}
                    #{{ action.user.id }}
                {% endif %}
            </td>
        </tr>
        {% if action.note %}
            <tr class="border-bottom">
                <td colspan="3"><div class="srp-bg-dark-2 p-1">{{ action.note|nl2br }}</div></td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
