{% extends "layout.twig" %}
{% set active_page = "submit" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Submit Request</h1>
            {{ flashMessages()|raw }}
        </div>
    </div>

    <div class="page-submit row mb-3">
        <div class="col">
            <form class="border border-light p-3" action="/submit" method="post" id="requestForm">
                <div class="mb-3">
                    <label for="division" class="form-label">Division</label>
                    <select class="form-control" name="division" id="division" required>
                        <option></option>
                        {% for division in divisions %}
                            <option {% if selectedDivision == division.id %}selected{% endif %}
                                    value="{{ division.id }}">
                                {{ division.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">
                        <a href="{{ killboardUrl }}" target="_blank" rel="noopener noreferrer"
                           class="srp-external-link">zKillboard</a>
                        URL or
                        <a href="#" class="kill-mail" data-bs-toggle="popover" data-bs-trigger="hover"
                           data-bs-html="true" data-bs-custom-class="kill-mail" data-bs-container="#requestForm"
                           title="Kill Report - Copy External Kill Link"
                           data-bs-content="<img src='/static/kill-report.png' alt='kill report'>">
                            External Kill Link
                        </a>
                    </label>
                    <input type="text" class="form-control" name="url" id="url" value="{{ url }}" required>
                </div>
                <div class="mb-3">
                    <label for="details" class="form-label">Details</label>
                    <textarea class="form-control" name="details" id="details"
                              rows="3" required>{{ details }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="requestFormSubmit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
