{% extends "layout.twig" %}
{% set active_page = "submit" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Submit Request</h1>
            {{ flashMessages()|raw }}
        </div>
    </div>

    <div id="esiKillMailModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog srp-esi-link" role="document" style="max-width: 315px">
            <div class="modal-content">
                <div class="modal-body bg-dark text-center">
                    <img src="/static/killmail.png" alt="ESI Kill Link">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <form class="border border-light p-3" action="/submit" method="post"
                  onsubmit="document.getElementById('formSubmit').disabled = true">
                <div class="mb-3">
                    <label for="division" class="form-label">Division</label>
                    <select class="form-control" name="division" id="division" required>
                        <option></option>
                        {% for division in divisions %}
                            <option {% if selectedDivision == division.id %}selected{% endif %}
                                    value="{{ division.id }}">
                                {{ division.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">
                        <a href="{{ killboardUrl }}" target="_blank" rel="noopener noreferrer">
                            zKillboard <i class="bi bi-box-arrow-up-right srp-external-link"></i></a> URL or
                        <a href="#" data-bs-toggle="modal" data-bs-target="#esiKillMailModal">External Kill Link</a>
                        (ESI)
                    </label>
                    <input type="text" class="form-control" name="url" id="url" value="{{ url }}" required>
                </div>
                <div class="mb-3">
                    <label for="details" class="form-label">Details</label>
                    <textarea class="form-control" name="details" id="details"
                              rows="3" required>{{ details }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="formSubmit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
