<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
        <title>{{ data.appTitle }}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/assets/bravecollective/web-ui/css/brave.css">
        <link rel="stylesheet" href="/eve-srp.css">
    </head>
    <body class="container-fluid">
        <header class="navbar navbar-dark bg-brave shadow-1 mb-3">
            <span class="navbar-brand">{{ data.appTitle }}</span>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                {% if hasRole('submit') %}
                    <li class="nav-item"><a class="nav-link" href="/submit">Submit</a></li>
                {% endif %}
                {% if hasRole('review') %}
                    <li class="nav-item"> <a class="nav-link" href="/review">Review</a></li>
                {% endif %}
                {% if hasRole('pay') %}
                    <li class="nav-item"><a class="nav-link" href="/pay">Pay</a></li>
                {% endif %}
                {% if hasAnyRole(['admin', 'global-admin']) %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" 
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="adminDropdown">
                            {% if hasRole('global-admin') %}
                                <a class="dropdown-item" href="/admin/divisions">Divisions</a>
                            {% endif %}
                            {% if hasRole('global-admin') %}
                                <a class="dropdown-item" href="/admin/groups">Groups</a>
                            {% endif %}
                            <a class="dropdown-item" href="/admin/permissions">Permissions</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" 
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ data.userName }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text">
                            Characters<br>
                            {% for charName in data.characters %}
                                <span class="small">{{ charName }}</span><br>
                            {% endfor %}
                        </span>
                    </div>
                </li>
            </ul>
        </header>

        <main>{% block content %}{% endblock %}</main>
        
        <footer class="navbar navbar-dark bg-brave shadow-1 flex-column">
            <div class="text-center ">
                {{ data.footerText }}
                <br>
                <span class="text-center small">
                    "EVE", "EVE Online", "CCP" and all related logos and images are 
                    trademarks or registered trademarks of CCP hf.
                </span>
            </div>
        </footer>
        
        <script src="/assets/bravecollective/web-ui/js/jquery.slim.min.js"></script>
        <script src="/assets/bravecollective/web-ui/js/popper.min.js"></script>
        <script src="/assets/bravecollective/web-ui/js/bootstrap.min.js"></script>
        <script src="/assets/bravecollective/web-ui/js/material.min.js"></script>
        <script src="/EveSrp.js"></script>
    </body>
</html>
