{% extends "_layout.twig" %}

{% block content %}
    <div class="row text-light">
        <div class="col">
            <h1>Home</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Created</th>
                        <th>Pilot</th>
                        <th>Corporation</th>
                        <th>Alliance</th>
                        <th>Ship</th>
                        <th>Kill Time</th>
                        <th>System</th>
                        <th>Kill mail</th>
                        <th>Details</th>
                        <th>Status</th>
                        <th>Base Payout</th>
                        <th>Payout</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr>
                            <td>{{ request.division.name }}</td>
                            <td>{{ request.created|date('Y-m-d H:i') }}</td>
                            <td>{{ request.pilot.name }}</td>
                            <td>{{ request.corporation }}</td>
                            <td>{{ request.alliance }}</td>
                            <td>{{ request.ship }}</td>
                            <td>{{ request.killTime|date('Y-m-d H:i') }}</td>
                            <td>{{ request.solarSystem }}</td>
                            <td>{{ request.killMail }}</td>
                            <td>{{ request.details }}</td>
                            <td>{{ request.status }}</td>
                            <td>{{ request.BASEPayout }}</td>
                            <td>{{ request.Payout }}</td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
