
{% include 'components/request-list--pager.twig' with {
    currentPage: pagerCurrentPage,
    totalPages: pagerTotalPages,
    link: pagerLink,
} only %}

{% if payoutSum is not null %}
    <div class="text-end">
        Total payout: {{ (payoutSum/1000000)|number_format(2)|trim('0', 'right')|trim('.') }} million ISK
    </div>
{% endif %}

<div class="table-responsive">
    <table class="table table-sm table-dark table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Ship</th>
                <th>Pilot</th>
                {% if pageActive == 'pay' %}
                    <th>Reason</th>
                {% endif %}
                <th>Corporation</th>
                <th>System</th>
                <th>Kill Time</th>
                <th>External URLs</th>
                <th>Submitted Time <i class="bi bi-sort-{{ sortOrder }} float-end"></i></th>
                <th>Division</th>
                <th>Status</th>
                <th class="text-end">Payout</th>
                {% if pageActive == 'in_progress' %}
                    <th>Last Editor</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            {% set main = getMainIfDifferent(request.character.id) %}
            <tr>
                <td><a href="/request/{{ request.id }}" title="Show request">{{ request.ship }}</a></td>
                <td title="{{ main ? 'Main: ' ~ main : '' }}" class="{{ main ? 'srp-text-with-title' : '' }}">
                    {% if pageActive == 'pay' %}
                        {% include 'components/clipboard-copy.twig' with {
                            display: request.character.name,
                            copy: request.character.name,
                        } only %}
                    {% else %}
                        {{ request.character.name }}
                    {% endif %}
                </td>
                {% if pageActive == 'pay' %}
                    <td>
                        {% include 'components/clipboard-copy.twig' with {
                            display: 'Loss ' ~ request.id,
                            copy: 'Loss ' ~ request.id,
                        } only %}
                    </td>
                {% endif %}
                <td>{{ request.corporationName }}</td>
                <td>
                    {% include 'components/link-dotlan.twig' with {
                        path: 'system/' ~ request.solarSystem,
                        name: request.solarSystem
                    } only %}
                </td>
                <td>{% include 'components/link-nakamura.twig' with { timestamp: request.killTime } only %}</td>
                <td>
                    {% if zKillboardUrl(request) %}
                        <a href="{{ zKillboardUrl(request) }}" target="_blank" rel="noopener noreferrer"
                           class="srp-external-link">zKillboard</a>
                        &nbsp;
                    {% endif %}
                    {% if esiUrl(request) %}
                        <a href="{{ esiUrl(request) }}" target="_blank" rel="noopener noreferrer"
                           class="srp-external-link">ESI</a>
                    {% endif %}
                </td>
                <td>{% include 'components/link-nakamura.twig' with { timestamp: request.created } only %}</td>
                <td>{{ request.division.name }}</td>
                <td>{{ request.status }}</td>
                <td class="text-end">
                    {% if request.payout is not null %}
                        {% if pageActive == 'pay' %}
                            {% include 'components/clipboard-copy.twig' with {
                                display: request.payout|number_format,
                                copy: request.payout,
                            } only %}
                        {% else %}
                            {{ request.payout|number_format }}
                        {% endif %}
                    {% endif %}
                </td>
                {% if pageActive == 'in_progress' %}
                    <td>{{ request.lastEditor.name }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>

{% include 'components/request-list--pager.twig' with {
    currentPage: pagerCurrentPage,
    totalPages: pagerTotalPages,
    link: pagerLink,
} only %}
