
{% include 'components/request-list--pager.twig' with {
    currentPage: pagerCurrentPage,
    totalPages: pagerTotalPages,
    link: pagerLink,
} only %}

<div class="table-responsive">
    <table class="table table-sm table-dark table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Ship</th>
                <th>Pilot</th>
                <th>System</th>
                <th>Kill Time</th>
                <th>External URLs</th>
                <th>Submitted Time <i class="bi bi-sort-{{ sort }} float-end"></i></th>
                <th>Division</th>
                <th>Status</th>
                <th class="text-end">Payout</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td><a href="/request/{{ request.id }}">{{ request.ship }}</a></td>
                <td>{{ request.character.name }}</td>
                <td>{{ request.solarSystem }}</td>
                <td>
                    {% include 'components/timestamp.twig' with {
                        'timestamp': request.killTime,
                    } only %}
                </td>
                <td>
                    {% if request.killboardUrl %}
                        <a href="{{ request.killboardUrl }}" target="_blank" rel="noopener noreferrer"
                           class="srp-external-link">zKillboard</a>
                        &nbsp;
                    {% endif %}
                    {% if request.esiLink %}
                        <a href="{{ request.esiLink }}" target="_blank" rel="noopener noreferrer"
                           class="srp-external-link">ESI</a>
                    {% endif %}
                </td>
                <td>
                    {% include 'components/timestamp.twig' with {
                        'timestamp': request.created
                    } only %}
                </td>
                <td>{{ request.division.name }}</td>
                <td>{{ request.status }}</td>
                <td class="text-end">
                    {% if request.payout is not null %}
                        {{ request.payout|number_format }}
                    {% endif %}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>

{% include 'components/request-list--pager.twig' with {
    currentPage: pagerCurrentPage,
    totalPages: pagerTotalPages,
    link: pagerLink,
} only %}
