
{% include 'components/request-list--pager.twig' with {
    currentPage: pagerCurrentPage,
    totalPages: pagerTotalPages,
    link: pagerLink,
} only %}

{% if payoutSum is not null %}
    <div class="text-end">
        Total payout: {{ formatMillions(payoutSum, false) }} million ISK
    </div>
{% endif %}

{% set colPayed = pageActive == 'approved' %}
{% set colReason = pageActive == 'approved' %}
{% set colStatus = pageActive not in ['open', 'in-progress', 'approved'] %}
{% set colLastEditor = pageActive in ['in-progress', 'approved'] %}
{% set colKillboard = pageActive in ['my-requests', 'open', 'in-progress', 'all-requests'] and hasKillboardUrl() %}

<div class="table-responsive">
    <table class="table table-sm table-dark table-striped table-bordered table-hover">
        <thead>
            <tr>
                {% if colPayed %}<th>Action</th>{% endif %}
                <th>Ship</th>
                <th>System</th>
                <th>Pilot</th>
                <th>Corporation</th>
                {% if colReason %}<th>Reason</th>{% endif %}
                {% if colStatus %}<th>Status</th>{% endif %}
                <th class="srp-text-with-title"><span title="million ISK">Payout</span></th>
                <th class="srp-text-with-title">
                    <span title="TimeZone = UTC">Submitted Time</span>
                    <i class="bi bi-sort-{{ sortOrder }} float-end"></i>
                </th>
                <th>Division</th>
                <th>Kill Time</th>
                {% if colKillboard %}<th>Killboard</th>{% endif %}
                {% if colLastEditor %}<th>Last Editor</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            {% set main = getMainIfDifferent(request.character.id) %}
            <tr>
                {% if colPayed %}<td>
                    <form action="/approved/payed" method="post">
                        {{ data.csrfFormInput|raw }}
                        <input type="hidden" name="id" value="{{ request.id }}">
                        <button type="submit" class="btn btn-sm btn-primary">Paid</button>
                    </form>
                </td>{% endif %}
                <td><a href="/request/{{ request.id }}" title="Show request">{{ request.ship }}</a></td>

                <td>
                    {% include 'components/link-dotlan.twig' with {
                        path: 'system/' ~ request.solarSystem,
                        name: request.solarSystem
                    } only %}
                </td>

                <td>
                    {% if pageActive == 'approved' %}
                        {% include 'components/clipboard-copy.twig' with {
                            display: request.character.name,
                            title: main ? 'Main: ' ~ main : '',
                            copy: request.character.name,
                        } only %}
                    {% else %}
                        <span title="{{ main ? 'Main: ' ~ main : '' }}" class="{{ main ? 'srp-text-with-title' : '' }}">
                            {{ request.character.name }}
                        </span>
                    {% endif %}
                </td>

                <td>{{ request.corporationName }}</td>

                {% if colReason %}
                    <td>
                        {% include 'components/clipboard-copy.twig' with {
                            display: getPayoutReason(request),
                            copy: getPayoutReason(request),
                        } only %}
                    </td>
                {% endif %}

                {% if colStatus %}
                    <td>{{ request.status }}</td>
                {% endif %}

                <td class="text-end">
                    {% if request.payout is not null %}
                        {% if pageActive == 'approved' %}
                            {% include 'components/clipboard-copy.twig' with {
                                display: formatMillions(request.payout),
                                copy: request.payout,
                            } only %}
                        {% else %}
                            {{ formatMillions(request.payout) }}
                        {% endif %}
                    {% endif %}
                </td>

                <td>{{ request.created|date('Y-m-d H:i') }}</td>

                <td>{{ request.division.name }}</td>

                <td>{% include 'components/link-nakamura.twig' with { timestamp: request.killTime } only %}</td>

                {% if colKillboard %}
                    <td>
                        <a href="{{ getKillboardUrl(request) }}" target="_blank" rel="noopener noreferrer"
                           class="srp-external-link">zKillboard</a>
                    </td>
                {% endif %}

                {% if colLastEditor %}
                    <td>{{ request.lastEditor.name }}</td>
                {% endif %}
            </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>

{% include 'components/request-list--pager.twig' with {
    currentPage: pagerCurrentPage,
    totalPages: pagerTotalPages,
    link: pagerLink,
} only %}
