
<div>
    Submitter: {{ request.user.name }}
    {% if request.user.name is empty %}
        #{{ request.user.id }}
    {% endif %}
</div>
<div>Created: {{ request.created|date('Y-m-d H:i e') }}</div>
<div>Division: {{ request.division.name }}</div>
<br>
<div>Status: {{ request.status }}</div>
<div>Base payout: {{ request.basePayout|number_format }} ISK</div>
<div>Payout: {{ request.payout|number_format }} ISK</div>
<br>

<h5>Kill</h5>
<div>
    Pilot:
    <a href="https://evewho.com/character/{{ request.character.id }}" class="srp-external-link" title="Eve Who"
       target="_blank" rel="noopener noreferrer">{{ request.character.name }}</a>,
    {% if request.corporationId %}
        <a href="https://evewho.com/corporation/{{ request.corporationId }}" class="srp-external-link" title="Eve Who"
           target="_blank" rel="noopener noreferrer">{{ request.corporationName }}</a>,
    {% else %}
        {{ request.corporationName }},
    {% endif %}
    {% if request.allianceId %}
        <a href="https://evewho.com/alliance/{{ request.allianceId }}" class="srp-external-link" title="Eve Who"
           target="_blank" rel="noopener noreferrer">{{ request.allianceName }}</a>
    {% elseif request.allianceName %}
        {{ request.allianceName }}
    {% endif %}
</div>
<div>Time: {{ request.killTime|date('Y-m-d H:i e') }}</div>
<div>
    Solar system:
    <a href="https://evemaps.dotlan.net/system/{{ request.solarSystem }}" class="srp-external-link" title="Eve Who"
       target="_blank" rel="noopener noreferrer">{{ request.solarSystem }}</a>
</div>
<div>
    External URLs:
    {% if request.killboardUrl %}
        <a href="{{ request.killboardUrl }}" class="srp-external-link" title="Eve Who"
           target="_blank" rel="noopener noreferrer">Killboard</a>,
    {% endif %}
    {% if request.esiLink %}
        <a href="{{ request.esiLink }}" class="srp-external-link" title="Eve Who"
           target="_blank" rel="noopener noreferrer">ESI</a>
    {% endif %}
</div>
<br>

<h5>Details</h5>
<div class="srp-bg-dark-2">{{ request.details|nl2br }}</div>
<br>

<h5>Actions</h5>
{% for action in request.actions %}
    <div>
        <div>Created: {{ action.created|date('Y-m-d H:i e') }}</div>
        <div>Category: {{ action.category }}</div>
        <div>
            User: {{ action.user.name }}
            {% if action.user.name is empty %}
                #{{ action.user.id }}
            {% endif %}
        </div>
        <div>
            Note
            <div class="small srp-bg-dark-2">{{ action.note|nl2br }}</div>
        </div>
    </div>
    <br>
{% endfor %}
